name: Release

on:
  push:
    branches:
      - master
  schedule:
    # Weekly builds to pick up Alpine security patches
    - cron: '0 4 * * 1'

jobs:
  push-to-registry:
    strategy:
      fail-fast: false
      matrix:
        version: [ "8.1", "8.2", "8.3" ]
        arch: [
          "linux/amd64,linux/arm64,linux/arm/v8,linux/arm/v7",
        ]
    env:
      VERSION: ${{ matrix.version }}
      ARCHS: ${{ matrix.arch }}
    name: release-${{ matrix.version }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: "all"
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - run: make release
